# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]

# =====================================
# Streamlit
# =====================================
.streamlit/secrets.toml

# =====================================
# Google Credential
# =====================================
*.json

# =====================================
# VS Code
# =====================================
.vscode/

# =====================================
# Windows
# =====================================
Thumbs.db